
<div class="side-nav">
  <h6>Drag and Drop Components</h6>
  <hr />
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Basic Components
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="text-center">
        <span *ngFor="let item of items">
          <button
            type="button"
            class="btn btn-primary but1"
            [draggable]
            [dragClass]="'active'"
            [dragData]="item"
            [dragScope]="item.type"
          >
            <mat-icon>{{ item.icon }}</mat-icon
            ><span class="padding">{{ item.name }}</span>
          </button>
        </span>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Button
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="text-center">
        <span *ngFor="let button of itemsButton">
          <button
            type="button"
            class="btn btn-primary but1"
            [draggable]
            [dragClass]="'active'"
            [dragData]="button"
            [dragScope]="button.type"
          >
            <mat-icon>{{ button.icon }}</mat-icon
            ><span class="padding">{{ button.name }}</span>
          </button>
        </span>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="content">
  <mat-tab-group>
    <mat-tab label="Design">
      <div class="drop-item-list">
        <h6>Drag and Drop a form component</h6>
        <button class="btn btn-success btn-block" type="button" (click)="createForm()" *ngIf="btnAdd">Add Form</button>
        <span *ngIf="showForm">
        <mat-card 
          class="card-drop-item"
          droppable
          [dragOverClass]="'drag-target-border'"
          [dropScope]="[
            'input-Text',
            'input-TextArea',
            'input-Checkbox',
            'input-RadioButton',
            'input-Dropdown',
            'input-Date',
            'single-button',
            'double-button',
            'card',
            'carousel',
            'file'
          ]"
          [dragHintClass]="'drag-hint'"
          (onDrop)="onDropItem($event)"
        >
          <!-- ------------ Display Dreopped Item List ------------------------->
          <div
            class="container"
            cdkDropList
            (cdkDropListDropped)="drop($event)"
          >
            <div class="row">
              <div class="col-3">
                <label>Form name</label>
              </div>
              <div class="col-9">
                <input class="form-control" type="text" name="formName" id="formName" [(ngModel)]="forms.formname">
              </div>
            </div>
            <span *ngFor="let item of droppedItemsList; let i = index" cdkDrag>
              <div class="group-button" *ngIf="showButton == i">
                <button
                  mat-icon-button
                  color="primary"
                  (click)="settingField(i, item)"
                >
                  <mat-icon>settings</mat-icon>
                </button>
                <button mat-icon-button color="primary">
                  <mat-icon>add</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteList(i)">
                  <mat-icon>delete_outline</mat-icon>
                </button>
              </div>
                <div
                  class="form-group row form-dropped"
                  (mouseover)="mouseOver(i)"
                >
                  <div [class]="item.layoutCol">
                    <div class="row">
                  <label
                    [class]="item.labelColumn">{{ item.setting.labelField }}</label
                  >
                  <div [class]="item.inputColumn">
                    <span
                      *ngIf="
                        item.inputType === 'text' || item.inputType === 'date'
                      "
                    >
                      <input
                        [type]="item.inputType"
                        [class]="item.className"
                        id ="{{item.setting.id}}"
                        name ="{{item.setting.name}}"
                        placeholder="{{item.setting.placeholder}}"
                      />
                    </span>
                    <span *ngIf="item.inputType === 'textarea'">
                      <textarea
                        [class]="item.className"
                        id ="{{item.setting.id}}"
                        name="{{item.setting.name}}"
                        rows="{{item.setting.rows}}"
                        placeholder="{{item.setting.placeholder}}"
                      ></textarea>
                    </span>
                    <span *ngIf="item.inputType === 'checkbox' || item.inputType === 'radio'">
                      <div [class]="item.className" *ngFor="let optionCheck of item.setting.options">
                        <label class="form-check-label">
                          <input
                            class="form-check-input"
                            [type]="item.inputType"
                            id="{{item.setting.id}}"
                            name="{{item.setting.name}}"
                            [value]="optionCheck.value"
                          />{{optionCheck.label}}
                        </label>
                      </div>
                    </span>
                    <span *ngIf="item.inputType === 'select'">
                      <select [class]="item.className" name="{{item.setting.name}}" id="{{item.setting.id}}">
                        <option *ngFor="let optionSelect of item.setting.options" [value]="optionSelect.value">{{optionSelect.label}}</option>
                      </select>
                    </span>
                    <span *ngIf="item.type === 'single-button'">
                      <button [type]="item.inputType" [class]="item.className">
                        {{ item.setting.label }}
                      </button>
                    </span>
                    <span *ngIf="item.type === 'double-button'">
                        <button *ngFor="let btn of item.setting.setBtn"
                            [type]="btn.type"
                            [class]="btn.className"
                        >
                        {{btn.label}}</button>
                    </span>
                    <span *ngIf="item.type === 'card'">
                      <div class="card" style="width: 18rem; height: 18rem;">
                        <div class="card-body">
                          Test
                        </div>
                      </div>
                    </span>
                    <span *ngIf="item.type === 'carousel'">
                      <div
                        id="carouselExampleIndicators"
                        class="carousel slide"
                        data-ride="carousel"
                      >
                        <ol class="carousel-indicators">
                          <li
                            data-target="#carouselExampleIndicators"
                            data-slide-to="0"
                            class="active"
                          ></li>
                          <li
                            data-target="#carouselExampleIndicators"
                            data-slide-to="1"
                          ></li>
                          <li
                            data-target="#carouselExampleIndicators"
                            data-slide-to="2"
                          ></li>
                        </ol>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img
                              src="assets/photo1.jpg"
                              class="d-block w-100"
                              alt="..."
                            />
                          </div>
                          <div class="carousel-item">
                            <img
                              src="assets/photo2.jpg"
                              class="d-block w-100"
                              alt="..."
                            />
                          </div>
                          <div class="carousel-item">
                            <img
                              src="assets/photo3.jpg"
                              class="d-block w-100"
                              alt="..."
                            />
                          </div>
                        </div>
                        <a
                          class="carousel-control-prev"
                          href="#carouselExampleIndicators"
                          role="button"
                          data-slide="prev"
                        >
                          <span
                            class="carousel-control-prev-icon"
                            aria-hidden="true"
                          ></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a
                          class="carousel-control-next"
                          href="#carouselExampleIndicators"
                          role="button"
                          data-slide="next"
                        >
                          <span
                            class="carousel-control-next-icon"
                            aria-hidden="true"
                          ></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                    </span>
                    <span *ngIf="item.inputType === 'file'">
                        <input [class]="item.className" [type]="item.inputType" name="{{item.setting.name}}" id="{{item.setting.id}}">
                    </span>
                  </div>
                  </div>
                  </div>
                </div>
            </span>
          </div>
        </mat-card>
        <div class="text-right">
           <button class="btn btn-success" type="button">Add Form</button>
        </div>
        </span>
      </div>
      
      <div class="setting-field" *ngIf="displaySetting">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Setting and config field</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-tab-group>
              <mat-tab label="Setting"
                ><br />
                <form *ngIf="settingText">
                  <div class="form-group">
                    <label>ID/Name</label>
                    <input
                      type="text"
                      class="form-control"
                      name="fieldName"
                      id="fieldID"
                    />
                  </div>
                  <div class="form-group">
                    <label>Label Text</label>
                    <input
                      type="text"
                      class="form-control"
                      name="labelName"
                      id="labelID"
                    />
                  </div>
                  <div class="form-group">
                    <label>Placeholder</label>
                    <input
                      type="text"
                      class="form-control"
                      name="placeholderName"
                      id="placeholderID"
                    />
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value="required"
                    />
                    <label class="form-check-label">Required</label>
                  </div>
                  <br /><br />
                  <div class="text-center">
                    <button class="btn btn-primary" type="submit">Submit</button
                    >&nbsp;
                    <button
                      class="btn btn-secondary"
                      type="button"
                      (click)="displaySetting = false"
                    >
                      Cancel
                    </button>
                  </div>
                </form>

                <!-- ----- Setting tab of date ---------->
                <form *ngIf="settingDate">
                  <div class="form-group">
                    <label>ID/Name</label>
                    <input
                      type="text"
                      class="form-control"
                      name="fieldName"
                      id="fieldID"
                    />
                  </div>
                  <div class="form-group">
                    <label>Label Text</label>
                    <input
                      type="text"
                      class="form-control"
                      name="labelName"
                      id="labelID"
                    />
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value="required"
                    />
                    <label class="form-check-label">Required</label>
                  </div>
                  <br /><br />
                  <div class="text-center">
                    <button class="btn btn-primary" type="submit">Submit</button
                    >&nbsp;
                    <button
                      class="btn btn-secondary"
                      type="button"
                      (click)="displaySetting = false"
                    >
                      Cancel
                    </button>
                  </div>
                </form>

                <!-- ----- Setting tab of Card & Carousel ---------->
                <form *ngIf="settingCard">
                  <div class="form-group">
                    <label>ID/Name</label>
                    <input
                      type="text"
                      class="form-control"
                      name="fieldName"
                      id="fieldID"
                    />
                  </div>
                  <div class="form-group">
                    <label>Image source</label>
                    <input
                      type="text"
                      class="form-control"
                      name="imgName"
                      id="imgID"
                    />
                  </div>
                  <br /><br />
                  <div class="text-center">
                    <button class="btn btn-primary" type="submit">Submit</button
                    >&nbsp;
                    <button
                      class="btn btn-secondary"
                      type="button"
                      (click)="displaySetting = false"
                    >
                      Cancel
                    </button>
                  </div>
                </form>
                <!-- Setting tab of checkbox-->
                <form *ngIf="settingCheck">
                  <div class="form-group">
                    <label>Group Name</label>
                    <input
                      type="text"
                      class="form-control"
                      name="groupName"
                      id="groupId"
                    />
                  </div>
                  <div class="form-group">
                    <label>Label Text</label>
                    <input
                      type="text"
                      class="form-control"
                      name="labelName"
                      id="labelID"
                    />
                  </div>
                  <label>Checkbox Option</label>
                  <div class="card">
                    <div class="card-body">
                      <button
                        mat-icon-button
                        color="warn"
                        class="closeOption"
                        type="button"
                      >
                        <mat-icon>close</mat-icon>
                      </button>
                      <div class="row">
                        <div class="form-group col-6">
                          <label>Value</label>
                          <input
                            type="text"
                            class="form-control"
                            name="valueCheckName"
                            id="valueCheckID"
                          />
                        </div>
                        <div class="form-group col-6">
                          <label>Label</label>
                          <input
                            type="text"
                            class="form-control"
                            name="labelCheckName"
                            id="labelCheckID"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <br />
                  <div class="text-right">
                    <button type="button" class="btn btn-success">
                      Add Option</button
                    ><br />
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value="required"
                    />
                    <label class="form-check-label">Required</label>
                  </div>
                  <br /><br />
                  <div class="text-center">
                    <button class="btn btn-primary" type="submit">Submit</button
                    >&nbsp;
                    <button
                      class="btn btn-secondary"
                      type="button"
                      (click)="displaySetting = false"
                    >
                      Cancel
                    </button>
                  </div>
                </form>

                <!-- Setting tab of radio-->
                <form *ngIf="settingRadio">
                  <div class="form-group">
                    <label>Group Name</label>
                    <input
                      type="text"
                      class="form-control"
                      name="groupName"
                      id="groupId"
                    />
                  </div>
                  <div class="form-group">
                    <label>Label Text</label>
                    <input
                      type="text"
                      class="form-control"
                      name="labelName"
                      id="labelID"
                    />
                  </div>
                  <label>Radio Option</label>
                  <div class="card">
                    <div class="card-body">
                      <button
                        mat-icon-button
                        color="warn"
                        class="closeOption"
                        type="button"
                      >
                        <mat-icon>close</mat-icon>
                      </button>
                      <div class="row">
                        <div class="form-group col-6">
                          <label>Value</label>
                          <input
                            type="text"
                            class="form-control"
                            name="valueRadioName"
                            id="valueRadioID"
                          />
                        </div>
                        <div class="form-group col-6">
                          <label>Label</label>
                          <input
                            type="text"
                            class="form-control"
                            name="labelRadioName"
                            id="labelRadioID"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <br />
                  <div class="text-right">
                    <button type="button" class="btn btn-success">
                      Add Option</button
                    ><br />
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value="required"
                    />
                    <label class="form-check-label">Required</label>
                  </div>
                  <br /><br />
                  <div class="text-center">
                    <button class="btn btn-primary" type="submit">Submit</button
                    >&nbsp;
                    <button
                      class="btn btn-secondary"
                      type="button"
                      (click)="displaySetting = false"
                    >
                      Cancel
                    </button>
                  </div>
                </form>

                <!-- Setting tab of Select-->
                <form *ngIf="settingSelect">
                  <div class="form-group">
                    <label>ID/Name</label>
                    <input
                      type="text"
                      class="form-control"
                      name="selectName"
                      id="selectId"
                    />
                  </div>
                  <div class="form-group">
                    <label>Label Text</label>
                    <input
                      type="text"
                      class="form-control"
                      name="labelName"
                      id="labelID"
                    />
                  </div>
                  <label>Dropdown Option</label>
                  <div class="card">
                    <div class="card-body">
                      <button
                        mat-icon-button
                        color="warn"
                        class="closeOption"
                        type="button"
                      >
                        <mat-icon>close</mat-icon>
                      </button>
                      <div class="row">
                        <div class="form-group col-6">
                          <label>Value</label>
                          <input
                            type="text"
                            class="form-control"
                            name="valueSelectName"
                            id="valueSelectID"
                          />
                        </div>
                        <div class="form-group col-6">
                          <label>Label</label>
                          <input
                            type="text"
                            class="form-control"
                            name="labelSelectName"
                            id="labelSelectID"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <br />
                  <div class="text-right">
                    <button type="button" class="btn btn-success">
                      Add Option</button
                    ><br />
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value="required"
                    />
                    <label class="form-check-label">Required</label>
                  </div>
                  <br /><br />
                  <div class="text-center">
                    <button class="btn btn-primary" type="submit">Submit</button
                    >&nbsp;
                    <button
                      class="btn btn-secondary"
                      type="button"
                      (click)="displaySetting = false"
                    >
                      Cancel
                    </button>
                  </div>
                </form>

                <!-- Setting tab of button-->
                <form *ngIf="settingButton">
                  <div class="form-group">
                    <label>ID/Name</label>
                    <input
                      type="text"
                      class="form-control"
                      name="fieldName"
                      id="fieldId"
                    />
                  </div>
                  <div class="form-group">
                    <label>Button Label</label>
                    <input
                      type="text"
                      class="form-control"
                      name="labelName"
                      id="labelID"
                    />
                  </div>
                  <div class="form-group">
                    <label>Button Type</label>
                    <select
                      class="form-control"
                      name="buttonType"
                      id="buttonType"
                    >
                      <option value="submit">Submit</option>
                      <option value="reset">Reset</option>
                      <option value="cancel">Cancel</option>
                    </select>
                  </div>
                  <br /><br />
                  <div class="text-center">
                    <button class="btn btn-primary" type="submit">Submit</button
                    >&nbsp;
                    <button
                      class="btn btn-secondary"
                      type="button"
                      (click)="displaySetting = false"
                    >
                      Cancel
                    </button>
                  </div>
                </form>
              </mat-tab>
              <mat-tab label="Config"><br>
                <div class="form-group">
                  <label>Add API Variable</label>
                    <select class="form-control">
                      <option value="1">message</option>
                      <option value="2">userName</option>
                      <option value="3">getTimeStamp</option>
                    </select>
                </div>
              </mat-tab>
            </mat-tab-group>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Result">
        <div class="htmlResult">
          <mat-card>
            <mat-card-title>
              <h5>HTML Result</h5>
            </mat-card-title>
              <div *ngFor="let formsAtt of forms.attributes">
                <div *ngIf="formsAtt.inputType === 'text' || formsAtt.inputType === 'date'">
                  <div class="form-group row">
                    <label class="col-3">{{formsAtt.setting.labelField}}</label>
                    <div class="col-9">
                        <input [type]="formsAtt.inputType" class="form-control" name="{{formsAtt.setting.name}}" id="{{formsAtt.setting.id}}" placeholder="{{formsAtt.setting.placeholder}}">
                    </div>
                  </div>
                </div>
                <!-- --------- text area ----------------------->
                <div *ngIf="formsAtt.inputType === 'textarea'">
                  <div class="form-group row">
                    <label class="col-3">{{formsAtt.setting.labelField}}</label>
                    <div class="col-9">
                        <textarea class="form-control" name="textarea" id="textarea" rows="3"></textarea>
                    </div>
                  </div>
                </div>
                <!-- --------- check box & radio ----------------------->
                <div *ngIf="formsAtt.inputType === 'checkbox' || formsAtt.inputType === 'radio'">
                  <div class="form-group row">
                    <label class="col-3">{{formsAtt.setting.labelField}}</label>
                    <div class="col-9">
                        <span *ngFor="let optionCheck of formsAtt.setting.options">
                          <div class="form-check form-check-inline">
                            <label class="form-check-label">
                              <input [type]="formsAtt.inputType" class="form-check-input" name="{{formsAtt.setting.name}}" id="{{formsAtt.setting.id}}" [value]="optionCheck.value">
                              {{optionCheck.label}}</label>
                          </div>
                        </span>
                    </div>
                  </div>
                </div>
                <!-- ----------------- Dropdown  ----------------------->
                <div *ngIf="formsAtt.inputType === 'select'">
                  <div class="form-group row">
                    <label class="col-3">{{formsAtt.setting.labelField}}</label>
                    <div class="col-9">
                      <select class="form-control" name="{{formsAtt.setting.name}}" id="{{formsAtt.setting.id}}">
                          <option *ngFor="let optionSelect of formsAtt.setting.options" [value]="optionSelect.value">{{optionSelect.label}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <!-- ----------------- Button ----------------------->
                <div *ngIf="formsAtt.inputType === 'submit'">
                  <div class="form-group row">
                    <label class="col-3">{{formsAtt.setting.labelField}}</label>
                    <div class="col-9">
                      <button class="btn btn-primary" type="submit">{{formsAtt.setting.label}}</button>
                    </div>
                  </div>
                </div>
                <!-- ----------------- file ----------------------->
                <div *ngIf="formsAtt.inputType === 'file'">
                  <div class="form-group row">
                    <label class="col-3">{{formsAtt.setting.labelField}}</label>
                    <div class="col-9">
                      <input class="form-control-file" type="file" name="{{formsAtt.setting.name}}" id="{{formsAtt.setting.id}}">
                    </div>
                  </div>
                </div>
              </div>
          </mat-card>
        </div>
        <div class="jsonResult">
          <mat-card>
            <mat-card-title>
              <h5>JSON Result</h5>
            </mat-card-title>
            <mat-card-content>
              <div class="container">
                {{forms | json}}
              </div>
            </mat-card-content>
          </mat-card>
          
         
        </div>
    </mat-tab>
  </mat-tab-group>
</div>
