.side-nav {
  margin-top: 60px;
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: auto;
  border-color: rgb(230, 230, 230);
  border-style: solid;
  border-width: 1px;
  overflow-x: scroll;
  padding-top: 20px;

}
.content {
  margin-left: 250px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
.drop-item-list{
  margin-top: 20px;
  margin-bottom: 50px;
}
/* .setting-field {
  display: block;
  float: right; 
  padding: 10px;
  height: 100%;
  width: 35%;
  margin-left: 10px;
} */
.but1 {
  width: 80%;
  margin-top: 5px;
  text-align: left;
  cursor: all-scroll;
}
.but2 {
  width: 80%;
  margin-top: 5px;
  text-align: right;
  cursor: all-scroll;
}
h6 {
  text-align: center;
}
span.padding {
  padding-left: 1.5em;
}
mat-expansion-panel {
  width: 100%;
  margin-bottom: 10px;
}
mat-expansion-panel button {
  width: 100%;
  margin-top: 5px;
}
mat-card.card-drop-item {
  margin-top: 20px;
  margin-bottom: 20px;
}
.drag-hint {
  border: #ffc100 dashed 2px;
}

.drag-target-border {
  border: #00bfff dashed 2px;
}
/* .layout1 {
  margin: 0px;
} */
.form-dropped {
  border-style: solid;
  border-color: rgb(240, 240, 240);
  padding: 20px;
  margin-bottom: 30px;
  cursor: all-scroll;
}
.group-button {
  text-align: right;
}
.btn{
  margin-right: 5px;
}

.closeOption{
  float: right;
}

div.card-body{
  padding: 5px;
}
div.card-option{
  margin-bottom: 5px;
}
.htmlResult{
  margin: 10px;
  float: left;
  width: 50%;
}
.jsonResult{
  margin: 10px;
  float: right;
  width: 40%;
}
.fieldhide{
  display: none;
}
.row{
  margin: 0px;
}

.oneCol{
  width: 1200px;
}
.twoCol{
  width: 600px;
}
