.sidenav-container{
    position: fixed;
    height: 100%;
    display: flex;
    z-index: 1; 
    left: 0;
    overflow-x: hidden;
}
mat-sidenav{
    width: 200px;
}
mat-sidenav , mat-sidenav-content{
    padding: 16px;
}
